# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# --- Django ---
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# --- VS Code & Editors ---
.vscode/
.idea/
*.swp
*.bak
.DS_Store

# --- Project Specific ---
# Ignore local debug logs
*.log
node_modules/